.container {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.food{
    border: 3px solid lightgray;
    border-radius: 30px;
    margin: 10px;
    width: 350px;
    overflow: hidden;
}
.food img{
    width: 100%;
}
@media(max-width:720px){
    .container{
        
    }
    .container .food{
        background-color: lightgreen;
    }
}
@media(min-width:1200px){
    .container .food{
        background-color: skyblue;
    }
}