.box{
    width: 300px;
    height: 200px;
    font-size: 40px;
    border:3px solid red;
    /* border-radius: 5%; */
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.ml-auto{
    margin-left: auto;
}
.entertainment{
    /* flex: auto; */
    flex: 1;
}